@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full_w">
    <div class="h_title">Projects list:</div>
    <table>
        <thead>
            <tr>
                <th scope="col">Title</th>
                <th scope="col">Admin</th>
                <th scope="col">Start date</th>
                <th scope="col">Est. finish date</th>
                <th scope="col" style="width: 65px;">Action</th>
            </tr>
        </thead>
						
        <tbody>
            <tr>
                <td class="align-center">SCRUM Notes Combiner development</td>
                <td>alex.aleksinskiy</td>
                <td>17-07-2013</td>
                <td>XX-08-2013</td>
                <td>
                    <a href="#" class="table-icon edit" title="Edit"></a>
                    <a href="#" class="table-icon delete" title="Delete"></a>
                </td>
            </tr>
        </tbody>
    </table>
    <button type="submit" class="add">@Html.ActionLink("Create new Project", "ActionWithProject", "Home", new {id="new", action = "create"}, null)</button>
</div>

