@{
    ViewBag.Title = "Statuses";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="full_w">
    <div class="h_title">Statuses list:</div>

<table class="example table-autosort:4 table-stripeclass:alternate">
    <thead>
        <tr>
            <th class="table-sortable:default">Project</th>
            <th class="table-sortable:default">User Name</th>
            <th class="table-sortable:default">AD Username</th>
            <th class="table-sortable:default">Date & Time</th>
        </tr>
        <tr>
            <th>
                <select onchange="Table.filter(this,this)">
                    <option value="">-</option>
                    <option value="SCRUM Notes Combiner development">SCRUM Notes Combiner development</option>
                    <option value="Preparations for something">Preparations for something</option>
                </select>
            </th>
            <th>
                <select onchange="Table.filter(this,this)">
                    <option value="">-</option>
                    <option value="Aleksander Aleksinsky">Aleksander Aleksinsky</option>
                    <option value="Vasily Pupkin">Vasily Pupkin</option>
                </select>
            </th>
            <th>
                <select onchange="Table.filter(this,this)">
                    <option value="">-</option>
                    <option value="alex.aleksinsky">alex.aleksinskiy</option>
                    <option value="vasily.pupkin">vasily.pupkin</option>
                </select>
            </th>
            <th><input name="filter" onkeyup="Table.filter(this,this)"></th>
	    </tr>
    </thead>
    <tbody>
        <tr>
            <td>SCRUM Notes Combiner development</td>
            <td>Aleksander Aleksinsky</td>
            <td>alex.aleksinsky</td>
            <td>16.07.2013 16:30</td>
        </tr>
        <tr>
            <td>Preparations for something</td>
            <td>Vasily Pupkin</td>
            <td>vasily.pupkin</td>
            <td>10.07.2013 16:40</td>
        </tr>
        <tr>
            <td>SCRUM Notes Combiner development</td>
            <td>Vasily Pupkin</td>
            <td>vasily.pupkin</td>
            <td>10.07.2013 17:50</td>
        </tr>
    </tbody>
</table>
</div>